<h1>New Train Form</h1>
<%= form_for(@train) do |f| %>
  <ul>
    <% @train.errors.each do |error, message| %>
      <% if error == :founding_year %>
        <li><%= "#{error.to_s.gsub("_", " ").capitalize} #{message}" %></li>
      <% else %>
        <li><%= "#{error.capitalize} #{message}" %></li>
      <% end %>
    <% end %>
  </ul>

  <div class="field">
    <%= f.label :name, "Name of Train"%><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :founding_year, "Founding Date" %><br />
    <%= f.text_field :founding_year %>
  </div>

  <div class="actions">
    <%= f.submit value: "Add Train" %>
  </div>
<% end %>
<%= link_to "Back to Trains", controller: "trains", action: "index" %>
