<h1>Add a New Review for <%=@train.name%></h1>

<%= form_for [@train, @review] do |f| %>

  <%= f.label :rating, "Rating" %>
  <%=  f.collection_radio_buttons(
      :rating, [[1, '1'] ,[2, '2'],[3, '3'],[4, '4'],[5, '5']], :first, :last
    ) do |b|
      b.label { b.radio_button + b.text }
      end %>

  <%= f.label :description, "Description" %>
  <%= f.text_field :description %>


  <%= f.submit "Add Review" %>

<% end %>
